<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HowHair"
        tools:targetApi="31">
        <activity android:name=".ReviewUploadActivity2"/>
        <activity android:name=".QuestionUploadActivity2"/>
        <activity android:name=".DesignerUploadActivity2"/>
        <activity android:name=".UploadActivity">
        </activity>
        <activity android:name=".ReviewUploadActivity1"/>
        <activity android:name=".QuestionUploadActivity1"/>
        <activity android:name=".DesignerUploadActivity1"/>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity><!--홈화면은 중첩 액티비티 전부 제거!-->
    </application>

</manifest>